*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
}

/* #randomImage{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background-color: red;
} */

body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    background-color: black;
}

.images{
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background-color: red;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: none;
}

button{
    padding: 1rem 3rem;
}